<div class="navbar navbar-blue_2 navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >DIS Halloween Time Slot Reservation</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']"><a [routerLink]="['./reservation']" class="lnk-applications"><i></i>&nbsp;Time Reservations</a></li>
          <li *ngIf="isAdmin()" [routerLinkActive]="['active']"><a [routerLink]="['./reserved-users']" class="lnk-maintenance"><i></i>&nbsp;Reserved Timeslots</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-user-circle"></i><span *ngIf="user!=null">&nbsp;Hello, {{fullName}}!</span></a></li>
        </ul> -->
      </div>
    </div>
</div>
<div class="main-body">
  <router-outlet></router-outlet>
</div>
<div class="navbar navbar-blue_2 navbar-fixed-bottom">
  <div class="col-md-2 pull-right">
     Created by: DIS - ESD Team
  </div>
</div>  