<div class="tab-content">
    <div id="asc_default" class="tab-pane fade in active">
        <div class="container">
            <br />
            <div class="row">
                <div class="col-md-3">
                    <label>Select Room: </label>
                </div>
                <div class="col-md-3">
                    <label><input type="radio" name="selectedRoom" value="Mystery Room" (change)="getRecord()" [(ngModel)]="selectedRoom" />Mystery Room </label>
                </div>
                <div class="col-md-3">
                    <label><input type="radio" name="selectedRoom" value="Breakout Room" (change)="getRecord()" [(ngModel)]="selectedRoom" />Breakout Room </label>
                </div>
            </div>
            <br />
            <!--table-->
            <div class="row" *ngIf="isAvailed">
                You have already reserved a room for {{selectedRoom}}. <br />
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover input-sm">
                            <thead>
                                <tr>
                                    <th>TimeSlot</th>
                                    <th>Team Name</th>
                                    <th># of Players</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let x of associates | paginate: { itemsPerPage: 10, currentPage: p }"> -->
                                <tr>
                                    <td><label>{{reservation.TimeSlot}}</label></td>
                                    <td><label>{{reservation.TeamName}}</label></td>
                                    <td><label>{{reservation.Players}}</label></td>
                                    <td><label>{{reservation.Amount}}</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                
                <br />
            </div>
            <div class="row"  *ngIf="!isAvailed">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover input-sm">
                        <thead>
                            <tr>
                                <!--<th>Associate Id</th>-->
                                <th>TimeSlot</th>
                                <th>Team Name</th>
                                <th># of Players</th>
                                <th>Amount</th>
                                <th>&nbsp;</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let x of associates | paginate: { itemsPerPage: 10, currentPage: p }"> -->
                            <tr *ngFor="let x of tmpReservations | paginate: { itemsPerPage: 7, currentPage: p }">
                                <td><label><input name="selectTimeslot" [value]="x.ReservationID" (change)="changeTimeslot()"[(ngModel)]="selectedTimeslot" type="radio"/>{{x.TimeSlot}}</label></td>
                                <td><input [disabled]="selectedTimeslot!=x.ReservationID"  type="text" [(ngModel)]="x.TeamName"/></td>
                                <td>
                                    <select [disabled]="selectedTimeslot!=x.ReservationID" [(ngModel)]="x.Players" class="form-control input-sm" >
                                        <option value="0"  disabled selected>--Select--</option>
                                        <option value="2"> 2 </option>
                                        <option value="3"> 3 </option>
                                        <option value="4"> 4 </option>
                                        <option value="5"> 5 </option>
                                    </select>
                                </td>
                                <td>200</td>
                                <td>
                                    <button class="btn btn-primary" (click)="submit(x)" [disabled]="selectedTimeslot!=x.ReservationID" >Reserve</button>
                                    <!-- <div class="btn-group">
                                        <a  class="btn btn-default btn-xs" data-toggle="tab" data-target="#asc_editor" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a  class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
                                    </div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="text-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                
                </div>
            </div>
        </div>
    </div>
</div>