<div class="tab-content">
    <div id="asc_default" class="tab-pane fade in active">
        <div class="container">
            <br />
            <div class="row">
                <!-- <div class="col-md-3">
                    <label>Select Room: </label>
                </div>
                <div class="col-md-3">
                    <label><input type="radio" name="selectedRoom" value="Mystery Room" (change)="getRecord()" [(ngModel)]="selectedRoom" />Mystery Room </label>
                </div> -->
                <div class="container">
                    <h3>
                        <!-- <input type="radio" name="selectedRoom" value="Breakout Room" (change)="getRecord()" [(ngModel)]="selectedRoom" /> -->
                        Breakout Room 
                    </h3>
                                
                    <div class="container">
                        <label>CAN YOU BREAKOUT OR WILL YOU BE TRAPPED FOREVER? </label>
                        <p> Have you ever watched an exciting movie, saw the lead character get in trouble and silently thought to yourself "I can do better than that"? Now's your chance! D.I.S. Breakout lets you live in different scenarios that you don’t encounter on a daily basis… We’re pretty sure it’s not every day that you get chased by a zombie or hunted down by psychotic carnival clown 
                                Immerse yourself in an interactive game where you need to find clues and solve logic puzzles while handling unexpected twists and turns brought about by uniquely crafted thematic elements. 
                                The goal is to ESCAPE THE ROOM IN 15 MINUTES. Players are encouraged to PLAN as a team, SOLVE puzzles collaboratively in order to ESCAPE before time expires.
                                
                        </p>
                        Have you ever watched an exciting movie, saw the lead character get in trouble and silently thought to yourself "I can do better than that"? Now's your chance! D.I.S. Breakout lets you live in different scenarios that you don’t encounter on a daily basis… We’re pretty sure it’s not every day that you get chased by a zombie or hunted down by psychotic carnival clown 
                        Immerse yourself in an interactive game where you need to find clues and solve logic puzzles while handling unexpected twists and turns brought about by uniquely crafted thematic elements. 
                        The goal is to <label>ESCAPE THE ROOM IN 15 MINUTES.</label> Players are encouraged to <label>PLAN</label> as a team, <label>SOLVE</label> puzzles collaboratively in order to <label>ESCAPE</label> before time expires.
                        <br />
                        <h4>NOTE:</h4>
                        <i>
                            Teams booked on specified time slot and did not arrive on time will automatically given to chance players. So please come in 5 mins before your time schedules.        
                        </i>

                    </div>
                             
                </div>
            </div>
            <br />
            <!--table-->
            <div class="row" *ngIf="isAvailed">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover input-sm">
                            <thead>
                                <tr>
                                    <th>Room Name</th>
                                    <th>Time Slot</th>
                                    <th>Team Name</th>
                                    <th># of Players</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let x of associates | paginate: { itemsPerPage: 10, currentPage: p }"> -->
                                <tr *ngIf="reservationMystery!=null">
                                    <td><label>{{reservationMystery.RoomName}}</label></td>
                                    <td><label>{{reservationMystery.TimeSlot}}</label></td>
                                    <td><label>{{reservationMystery.TeamName}}</label></td>
                                    <td><label>{{reservationMystery.Players}}</label></td>
                                    <td><label>{{reservationMystery.Amount}}</label></td>
                                </tr>
                                <tr *ngIf="reservationBreakout!=null">
                                    <td><label>{{reservationBreakout.RoomName}}</label></td>
                                    <td><label>{{reservationBreakout.TimeSlot}}</label></td>
                                    <td><label>{{reservationBreakout.TeamName}}</label></td>
                                    <td><label>{{reservationBreakout.Players}}</label></td>
                                    <td><label>{{reservationBreakout.Amount}}</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                
                <br />
            </div>
            <div class="row"  *ngIf="!isAvailed">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover input-sm">
                        <thead>
                            <tr>
                                <!--<th>Associate Id</th>-->
                                <th>Time Slot</th>
                                <th>Team Name</th>
                                <th># of Players</th>
                                <th>Amount</th>
                                <th>&nbsp;</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let x of associates | paginate: { itemsPerPage: 10, currentPage: p }"> -->
                            <tr *ngFor="let x of tmpReservations | paginate: { itemsPerPage: 7, currentPage: p }">
                                <td><label><input name="selectTimeslot" [value]="x.ReservationID" (change)="changeTimeslot()"[(ngModel)]="selectedTimeslot" type="radio"/>{{x.TimeSlot}}</label></td>
                                <td><input style="width: 100%" [disabled]="selectedTimeslot!=x.ReservationID"  type="text" [(ngModel)]="x.TeamName"/></td>
                                <td>
                                    <select [disabled]="selectedTimeslot!=x.ReservationID" [(ngModel)]="x.Players" class="form-control input-sm" >
                                        <option value="0"  disabled selected>--Select--</option>
                                        <option value="2"> 2 </option>
                                        <option value="3"> 3 </option>
                                        <option value="4"> 4 </option>
                                        <option value="5"> 5 </option>
                                        <option value="6"> 6 </option>
                                    </select>
                                </td>
                                <td>250</td>
                                <td>
                                    <button class="btn btn-primary" (click)="submit(x)" [disabled]="selectedTimeslot!=x.ReservationID" >Reserve</button>
                                    <!-- <div class="btn-group">
                                        <a  class="btn btn-default btn-xs" data-toggle="tab" data-target="#asc_editor" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a  class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
                                    </div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="text-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                
                </div>
            </div>
        </div>
    </div>
</div>