<div class="tab-content">

    <input type="radio"  /><label>Mystery Room </label>
    <input type="radio"  /><label>Breakout Room </label>s
    <div id="asc_default" class="tab-pane fade in active">
        <div class="col-md-12">
            <!--table-->
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover input-sm">
                        <thead>
                            <tr>
                                <!--<th>Associate Id</th>-->
                                <th>TimeSlot</th>
                                <th>TeamName</th>
                                <th># of Players</th>
                                <th>Amount</th>
                                <th>&nbsp;</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let x of associates | paginate: { itemsPerPage: 10, currentPage: p }"> -->
                            <tr *ngFor="let x of reservations | paginate: { itemsPerPage: 7, currentPage: p }">
                                <td><input name="selectTimeslot" [value]="x.ReservationID" [(ngModel)]="selectedTimeslot" type="radio"/><label>{{x.TimeSlot}}</label></td>
                                <td><input [disabled]="selectedTimeslot!=x.ReservationID"  type="text" [(ngModel)]="x.TeamName"/></td>
                                <td>
                                    <select [disabled]="selectedTimeslot!=x.ReservationID"  class="form-control input-sm" >
                                        <option value=""  disabled selected>--Select--</option>
                                        <option value="2"> 2 </option>
                                        <option value="3"> 3 </option>
                                        <option value="4"> 4 </option>
                                        <option value="5"> 5 </option>
                                    </select>
                                </td>
                                <td>200</td>
                                <td>
                                    <button class="btn btn-primary" [disabled]="selectedTimeslot!=x.ReservationID" >Reserve</button>
                                    <!-- <div class="btn-group">
                                        <a  class="btn btn-default btn-xs" data-toggle="tab" data-target="#asc_editor" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a  class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
                                    </div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="row">
                <div class="pull-right">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>